**/node_modules
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/.git
**/.gitignore
**/README.md
**/LICENSE
**/.vscode
**/.env
**/.idea
**/dist
**/.cache
**/.expo
**/ios
**/android
**/.DS_Store
**/.turbo
**/out
