use nix

mkdir -p $TMPDIR

export NODE_ENV=development
export LIBSQL_URL=http://localhost:8080
export LIBSQL_ADMIN_URL=http://localhost:9090
export LIBSQL_ADMIN_AUTH_KEY=admin
export POSTGRES_URL=postgresql://stu:stu@localhost:5432/stu
export DATABASE_URL=postgresql://stu:stu@localhost:5432/stu # TODO: remove
export RABBITMQ_HOST=localhost
