export NODE_ENV=development
export MANAGEMENT_DATABASE_URL=postgresql://stu:stu@localhost:5432/stu
export RABBITMQ_HOST=localhost
export PULSAR_URL=pulsar://localhost:6650
export API_PORT=3001
export ANDROID_HOME=/Users/haukeschnau/Library/Android/sdk
export NEXT_PUBLIC_DEPLOYMENT_ENV=dev
export LEGACY_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/postgres

export PATH="$(pwd)/bin:$PATH"

source .env.secrets

eval "$(fnm env --use-on-cd --shell bash)"
