use flake

export NODE_ENV=development
export MANAGEMENT_DATABASE_URL=postgresql://stu:stu@localhost:5432/stu
export RABBITMQ_HOST=localhost
export PULSAR_URL=pulsar://localhost:6650
export API_PORT=3001
export NEXT_PUBLIC_DEPLOYMENT_ENV=dev
export LEGACY_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/postgres
export CACHE_DIR=./cache

source .env.secrets
