DATABASE_URL=postgresql://user:password@localhost:5432/studienbuch

NEXT_PUBLIC_AXIOM_TOKEN=
NEXT_PUBLIC_AXIOM_DATASET=

LINEAR_API_KEY=

ISERV_USERNAME=
ISERV_PASSWORD=

PORT=3000
API_PORT=3001
BASE_URL=http://localhost:3000

NODE_ENV=development
NEXT_PUBLIC_DEPLOYMENT_ENV=dev
